.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.weilders {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.weilders li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 2.5em;
  border-radius: 4px;
}
  .weilders li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
  .weilders li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
  .weilders .text {
  position: relative;
  top: -3px;
}
.weilders .badge {
  display: inline-block;
  font-size: small;
  color: #e9ecef;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #17a2b8;
  line-height: 1.75em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 3.0em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}